* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    margin-top: 150px;
}

.timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer-block {
    width: 150px;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 75px;
}

.title {
    padding: 5px;
    text-align: center;
    font-size: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    margin-top: 100px;
}

.btn {
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
    width: 180px;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    background-color: indigo;
    color: azure;
}